<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.whq6.study.mapper.RecordMapper">
  <resultMap id="BaseResultMap" type="top.whq6.study.entity.Record">
    <id column="record_id" jdbcType="INTEGER" property="recordId" />
    <result column="test_id" jdbcType="INTEGER" property="testId" />
    <result column="record_user_id" jdbcType="INTEGER" property="recordUserId" />
    <result column="record_bank_id" jdbcType="INTEGER" property="recordBankId" />
    <result column="record_do_time" jdbcType="DATE" property="recordDoTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    record_id, test_id, record_user_id, record_bank_id, record_do_time
  </sql>
  <select id="selectByExample" parameterType="top.whq6.study.entity.RecordExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from record
    where record_id = #{recordId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from record
    where record_id = #{recordId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="top.whq6.study.entity.RecordExample">
    delete from record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="top.whq6.study.entity.Record">
    insert into record (record_id, test_id, record_user_id, 
      record_bank_id, record_do_time)
    values (#{recordId,jdbcType=INTEGER}, #{testId,jdbcType=INTEGER}, #{recordUserId,jdbcType=INTEGER}, 
      #{recordBankId,jdbcType=INTEGER}, #{recordDoTime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="top.whq6.study.entity.Record">
    insert into record
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="recordId != null">
        record_id,
      </if>
      <if test="testId != null">
        test_id,
      </if>
      <if test="recordUserId != null">
        record_user_id,
      </if>
      <if test="recordBankId != null">
        record_bank_id,
      </if>
      <if test="recordDoTime != null">
        record_do_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="recordId != null">
        #{recordId,jdbcType=INTEGER},
      </if>
      <if test="testId != null">
        #{testId,jdbcType=INTEGER},
      </if>
      <if test="recordUserId != null">
        #{recordUserId,jdbcType=INTEGER},
      </if>
      <if test="recordBankId != null">
        #{recordBankId,jdbcType=INTEGER},
      </if>
      <if test="recordDoTime != null">
        #{recordDoTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="top.whq6.study.entity.RecordExample" resultType="java.lang.Long">
    select count(*) from record
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update record
    <set>
      <if test="record.recordId != null">
        record_id = #{record.recordId,jdbcType=INTEGER},
      </if>
      <if test="record.testId != null">
        test_id = #{record.testId,jdbcType=INTEGER},
      </if>
      <if test="record.recordUserId != null">
        record_user_id = #{record.recordUserId,jdbcType=INTEGER},
      </if>
      <if test="record.recordBankId != null">
        record_bank_id = #{record.recordBankId,jdbcType=INTEGER},
      </if>
      <if test="record.recordDoTime != null">
        record_do_time = #{record.recordDoTime,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update record
    set record_id = #{record.recordId,jdbcType=INTEGER},
      test_id = #{record.testId,jdbcType=INTEGER},
      record_user_id = #{record.recordUserId,jdbcType=INTEGER},
      record_bank_id = #{record.recordBankId,jdbcType=INTEGER},
      record_do_time = #{record.recordDoTime,jdbcType=DATE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="top.whq6.study.entity.Record">
    update record
    <set>
      <if test="testId != null">
        test_id = #{testId,jdbcType=INTEGER},
      </if>
      <if test="recordUserId != null">
        record_user_id = #{recordUserId,jdbcType=INTEGER},
      </if>
      <if test="recordBankId != null">
        record_bank_id = #{recordBankId,jdbcType=INTEGER},
      </if>
      <if test="recordDoTime != null">
        record_do_time = #{recordDoTime,jdbcType=DATE},
      </if>
    </set>
    where record_id = #{recordId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.whq6.study.entity.Record">
    update record
    set test_id = #{testId,jdbcType=INTEGER},
      record_user_id = #{recordUserId,jdbcType=INTEGER},
      record_bank_id = #{recordBankId,jdbcType=INTEGER},
      record_do_time = #{recordDoTime,jdbcType=DATE}
    where record_id = #{recordId,jdbcType=INTEGER}
  </update>
</mapper>