<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.whq6.study.mapper.TestMapper">
  <resultMap id="BaseResultMap" type="top.whq6.study.entity.Test">
    <id column="test_id" jdbcType="INTEGER" property="testId" />
    <result column="record_id" jdbcType="INTEGER" property="recordId" />
    <result column="test_author_id" jdbcType="INTEGER" property="testAuthorId" />
    <result column="test_publish_date" jdbcType="DATE" property="testPublishDate" />
    <result column="test_bank_id" jdbcType="INTEGER" property="testBankId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    test_id, record_id, test_author_id, test_publish_date, test_bank_id
  </sql>
  <select id="selectByExample" parameterType="top.whq6.study.entity.TestExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from test
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from test
    where test_id = #{testId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from test
    where test_id = #{testId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="top.whq6.study.entity.TestExample">
    delete from test
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="top.whq6.study.entity.Test">
    insert into test (test_id, record_id, test_author_id, 
      test_publish_date, test_bank_id)
    values (#{testId,jdbcType=INTEGER}, #{recordId,jdbcType=INTEGER}, #{testAuthorId,jdbcType=INTEGER}, 
      #{testPublishDate,jdbcType=DATE}, #{testBankId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="top.whq6.study.entity.Test">
    insert into test
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="testId != null">
        test_id,
      </if>
      <if test="recordId != null">
        record_id,
      </if>
      <if test="testAuthorId != null">
        test_author_id,
      </if>
      <if test="testPublishDate != null">
        test_publish_date,
      </if>
      <if test="testBankId != null">
        test_bank_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="testId != null">
        #{testId,jdbcType=INTEGER},
      </if>
      <if test="recordId != null">
        #{recordId,jdbcType=INTEGER},
      </if>
      <if test="testAuthorId != null">
        #{testAuthorId,jdbcType=INTEGER},
      </if>
      <if test="testPublishDate != null">
        #{testPublishDate,jdbcType=DATE},
      </if>
      <if test="testBankId != null">
        #{testBankId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="top.whq6.study.entity.TestExample" resultType="java.lang.Long">
    select count(*) from test
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update test
    <set>
      <if test="record.testId != null">
        test_id = #{record.testId,jdbcType=INTEGER},
      </if>
      <if test="record.recordId != null">
        record_id = #{record.recordId,jdbcType=INTEGER},
      </if>
      <if test="record.testAuthorId != null">
        test_author_id = #{record.testAuthorId,jdbcType=INTEGER},
      </if>
      <if test="record.testPublishDate != null">
        test_publish_date = #{record.testPublishDate,jdbcType=DATE},
      </if>
      <if test="record.testBankId != null">
        test_bank_id = #{record.testBankId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update test
    set test_id = #{record.testId,jdbcType=INTEGER},
      record_id = #{record.recordId,jdbcType=INTEGER},
      test_author_id = #{record.testAuthorId,jdbcType=INTEGER},
      test_publish_date = #{record.testPublishDate,jdbcType=DATE},
      test_bank_id = #{record.testBankId,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="top.whq6.study.entity.Test">
    update test
    <set>
      <if test="recordId != null">
        record_id = #{recordId,jdbcType=INTEGER},
      </if>
      <if test="testAuthorId != null">
        test_author_id = #{testAuthorId,jdbcType=INTEGER},
      </if>
      <if test="testPublishDate != null">
        test_publish_date = #{testPublishDate,jdbcType=DATE},
      </if>
      <if test="testBankId != null">
        test_bank_id = #{testBankId,jdbcType=INTEGER},
      </if>
    </set>
    where test_id = #{testId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="top.whq6.study.entity.Test">
    update test
    set record_id = #{recordId,jdbcType=INTEGER},
      test_author_id = #{testAuthorId,jdbcType=INTEGER},
      test_publish_date = #{testPublishDate,jdbcType=DATE},
      test_bank_id = #{testBankId,jdbcType=INTEGER}
    where test_id = #{testId,jdbcType=INTEGER}
  </update>
</mapper>